DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_BACKUP_1468.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_BACKUP_1529.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_BACKUP_1590.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_BASE_1468.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_BASE_1529.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_BASE_1590.gitignore
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/apphost.exe
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.AssemblyInfo.cs
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.AssemblyInfoInputs.cache
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.dll
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.pdb
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.sourcelink.json
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/ref/DemoGitHubWeb.dll
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/refint/DemoGitHubWeb.dll
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.assets.cache
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.csproj.CoreCompileInputs.cache
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.csproj.FileListAbsolute.txt
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.GeneratedMSBuildEditorConfig.editorconfig
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/DemoGitHubWeb.genruntimeconfig.cache
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/staticwebassets.build.json
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/staticwebassets.development.json
DemoGitHubWeb/DemoGitHubWeb/obj/Debug/net8.0/staticwebassets.pack.json
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_LOCAL_1468.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_LOCAL_1529.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_LOCAL_1590.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_REMOTE_1468.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_REMOTE_1529.gitignore
DemoGitHubWeb/.idea/.idea.DemoGitHubWeb/.idea/_REMOTE_1590.gitignore
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/appsettings.Development.json
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/appsettings.json
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/DemoGitHubWeb.deps.json
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/DemoGitHubWeb.dll
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/DemoGitHubWeb.exe
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/DemoGitHubWeb.pdb
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/DemoGitHubWeb.runtimeconfig.json
DemoGitHubWeb/DemoGitHubWeb/bin/Debug/net8.0/DemoGitHubWeb.staticwebassets.runtime.json
DemoGitHubWeb/DemoGitHubWeb/obj/DemoGitHubWeb.csproj.nuget.dgspec.json
DemoGitHubWeb/DemoGitHubWeb/obj/project.assets.json
DemoGitHubWeb/DemoGitHubWeb/obj/project.nuget.cache
DemoGitHubWeb/DemoGitHubWeb/obj/project.packagespec.json
DemoGitHubWeb/DemoGitHubWeb/obj/rider.project.model.nuget.info
DemoGitHubWeb/DemoGitHubWeb/obj/rider.project.restore.info
